*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
body {
    background-image: url("./img/pexels-james-wheeler-1486974.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
  
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
  
header{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-shadow: 2px 2px 1px black;
    padding: 10px 0 10px 0;
}
  
.input-field{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
  
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: black;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
}
  
::-webkit-input-placeholder{
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
  
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
    border: 1px solid black;
}
  
.submit:hover {
    box-shadow: -3px 5px 4px 1px rgba(255, 255, 255, 0.3);
}
  
.judul {
    color: white;
    text-shadow: 2px 2px 1px black;
}
  
.tautan {
    color: white;
    width: 100px;
    border: none;
    outline: none;
    text-shadow: 1px 1px 1px black;
    font-size: small;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
    padding: 5px;
    transition: 0.3s;
    border: 1px solid black;
    }
    
.tautan:hover {
    box-shadow: -3px 5px 4px 1px rgba(255, 255, 255, 0.3);
}

.search {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20px;
    padding: 5px;
}

.keyword {
    border: none;
    width: 300px;
    outline: none;
    border-radius: 30px;
    color: black;
    padding: 0 0 0 30px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
}

::-webkit-keyword-placeholder{
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.cari {
    margin-left: 10px;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    text-shadow: 1px 1px 1px black;
    font-size: small;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    transition: 0.3s;
    border: 1px solid black;
}

.cari:hover {
    box-shadow: -3px 5px 4px 1px rgba(255, 255, 255, 0.3);
}
  
    
  